settings.json
*.xml
*.spec
*.zip
inf_daken_counter/*
build/*
dist/*
debug/*
Makefile
#*.png
__pycache__/*
tmp/*
old/*
src/credentials.py
src/credentials_encryptor.py
src/credentials_encrypted.py
*/__pycache__/*
infnotebook/*
log/*
out/*
*.infdc
config.json
pic/*
