settings.json
*.xml
*.spec
*.zip
inf_daken_counter/*
build/*
dist/*
debug/*
#*.png
__pycache__/*
tmp/*
old/*
src/credentials.py
src/credentials_encryptor.py
src/credentials_encrypted.py
*/__pycache__/*
infnotebook/*
log/*
out/*
playlog.infdc
config.json
pic/*
qt.conf
*.pkl
hoge*
inf_score.csv
