<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>hoge</title>
<style>
body { 

background-color: rgba(0, 0, 50, 0.8);
margin: 10px;
padding: 20px;
overflow: hidden;
font-family:"Meiryo";
color:#2196F3;   
font-size: 64px;
color: #fff;
text-shadow: 6px 6px 0 #000,
             -2px 2px 0 #000,
             2px -2px 0 #000,
             -2px -2px 0 #000;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
	
function loadXml()
{
	var playcount = "";
	var cur_notes = "";
	var today_notes = "";
	var score_rate = "";
	
	var getxml = $.ajax({
		url: "../data.xml",
		type: 'GET',
		dataType: 'xml',
		cache: false
		});
	
	getxml.done(function(xml){
		playcount    = Number($(xml).find('playcount').text());
		cur_notes    = Number($(xml).find('cur_notes').text());
		today_notes  = Number($(xml).find('today_notes').text());
		notes_ran    = Number($(xml).find('notes_ran').text());
		notes_battle = Number($(xml).find('notes_battle').text());
		score_rate   = $(xml).find('score_rate').text();
		$('#playcount span').text(playcount.toLocaleString());
		$('#cur_notes span').text(cur_notes.toLocaleString());
		$('#today_notes span').text(today_notes.toLocaleString());
		$('#notes_ran span').text(notes_ran.toLocaleString());
		$('#notes_battle span').text(notes_battle.toLocaleString());
		$('#score_rate span').text(score_rate);
	});
	
	getxml.fail(function(error){
		//alert("読み込み失敗");
	});
	
}

window.addEventListener('DOMContentLoaded', function() {
	var roopTimer = setInterval(loadXml, 50);
});


</script>
</head>

<body>
    <div id="playcount">plays: <span></span></div>
    <div id="cur_notes"><span></span> notes</div>
    <div id="today_notes">(本日: <span></span> notes)</div>
    <div id="score_rate">スコアレート:<span></span> %</div>
</body>
</html>