body { 
    background-color: rgba(0, 0, 0, 0);
    margin: 10px;
    padding: 20px;
    overflow: hidden;
    font-family:"Meiryo";
    color:#2196F3;   
    font-size: 55px;
    color: #fff;
}
.top{
    width: 100%;
    display: flex;
}
.left{
    width: 72%;
    padding-right:5%;
    padding-left:3%;
}
.right{
    width: 17%;
    padding-right:3%;
}
.spall{
    display: flex;
}
.dpall{
    display: flex;
}
.sp12{
    display: flex;
}
.dp12{
    display: flex;
}
.sp11{
    display: flex;
}
.dp11{
    display: flex;
}
.sp10{
    display: flex;
}
.dp10{
    display: flex;
}
.sp9{
    display: flex;
}
.dp9{
    display: flex;
}
.sp8{
    display: flex;
}
.dp8{
    display: flex;
}
.sp7{
    display: flex;
}
.dp7{
    display: flex;
}
.sp6{
    display: flex;
}
.dp6{
    display: flex;
}
.sp5{
    display: flex;
}
.dp5{
    display: flex;
}
.sp4{
    display: flex;
}
.dp4{
    display: flex;
}
.sp3{
    display: flex;
}
.dp3{
    display: flex;
}
.sp2{
    display: flex;
}
.dp2{
    display: flex;
}
.sp1{
    display: flex;
}
.dp1{
    display: flex;
}
.spalllamp{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    margin-right: 2%;
    border:4px solid #000000;
}
.dpalllamp{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    margin-right: 2%;
    border:4px solid #000000;
}
.sp12lamp{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    margin-right: 2%;
    border:4px solid #000000;
}
.dp12lamp{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    margin-right: 2%;
    border:4px solid #000000;
}
.sp11lamp{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    margin-right: 2%;
    border:4px solid #000000;
}
.dp11lamp{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    margin-right: 2%;
    border:4px solid #000000;
}
.sp10lamp{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    margin-right: 2%;
    border:4px solid #000000;
}
.dp10lamp{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    margin-right: 2%;
    border:4px solid #000000;
}
.sp9lamp{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    margin-right: 2%;
    border:4px solid #000000;
}
.dp9lamp{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    margin-right: 2%;
    border:4px solid #000000;
}
.sp8lamp{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    margin-right: 2%;
    border:4px solid #000000;
}
.dp8lamp{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    margin-right: 2%;
    border:4px solid #000000;
}
.sp7lamp{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    margin-right: 2%;
    border:4px solid #000000;
}
.dp7lamp{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    margin-right: 2%;
    border:4px solid #000000;
}
.sp6lamp{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    margin-right: 2%;
    border:4px solid #000000;
}
.dp6lamp{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    margin-right: 2%;
    border:4px solid #000000;
}
.sp5lamp{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    margin-right: 2%;
    border:4px solid #000000;
}
.dp5lamp{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    margin-right: 2%;
    border:4px solid #000000;
}
.sp4lamp{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    margin-right: 2%;
    border:4px solid #000000;
}
.dp4lamp{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    margin-right: 2%;
    border:4px solid #000000;
}
.sp3lamp{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    margin-right: 2%;
    border:4px solid #000000;
}
.dp3lamp{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    margin-right: 2%;
    border:4px solid #000000;
}
.sp2lamp{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    margin-right: 2%;
    border:4px solid #000000;
}
.dp2lamp{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    margin-right: 2%;
    border:4px solid #000000;
}
.sp1lamp{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    margin-right: 2%;
    border:4px solid #000000;
}
.dp1lamp{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    margin-right: 2%;
    border:4px solid #000000;
}

.spallscore{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    border:4px solid #000000;
}
.dpallscore{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    border:4px solid #000000;
}
.sp12score{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    border:4px solid #000000;
}
.dp12score{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    border:4px solid #000000;
}
.sp11score{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    border:4px solid #000000;
}
.dp11score{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    border:4px solid #000000;
}
.sp10score{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    border:4px solid #000000;
}
.dp10score{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    border:4px solid #000000;
}
.sp9score{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    border:4px solid #000000;
}
.dp9score{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    border:4px solid #000000;
}
.sp8score{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    border:4px solid #000000;
}
.dp8score{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    border:4px solid #000000;
}
.sp7score{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    border:4px solid #000000;
}
.dp7score{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    border:4px solid #000000;
}
.sp6score{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    border:4px solid #000000;
}
.dp6score{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    border:4px solid #000000;
}
.sp5score{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    border:4px solid #000000;
}
.dp5score{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    border:4px solid #000000;
}
.sp4score{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    border:4px solid #000000;
}
.dp4score{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    border:4px solid #000000;
}
.sp3score{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    border:4px solid #000000;
}
.dp3score{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    border:4px solid #000000;
}
.sp2score{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    border:4px solid #000000;
}
.dp2score{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    border:4px solid #000000;
}
.sp1score{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    border:4px solid #000000;
}
.dp1score{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: space-evenly; /* 要*/
    border:4px solid #000000;
}

.fc{
    box-sizing: border-box;
    animation-name: flashfc;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    width: 10%;
    border: 2px fff;
    white-space: nowrap;
}
.exhc{
    animation-name: flashexh;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    border: 2px fff;
    width: 10%;
}
.hc{
    background-color: #fff;
    border: 2px fff;
    width: 10%;
}
.nc{
    background-color: #22ccff;
    border: 2px fff;
    width: 10%;
}
.ec{
    background-color: #22ff22;
    border: 2px fff;
    width: 10%;
}
.ac{
    background-color: #ff77ff;
    border: 2px fff;
    width: 10%;
}
.failed{
    animation-name: flashfailed;
    animation-duration: 0.08s;
    animation-iteration-count: infinite;
    border: 2px fff;
    width: 20%;
}
.noplay{
    background-color: #222222;
    border: 2px fff;
    width: 20%;
}
.under_b{
    background-color: #474747;
    border: 2px fff;
    width: 30%;
}
.a{
    background-color: #67f9a6;
    border: 2px fff;
    width: 30%;
}
.aa{
    background-color: #dddddd;
    border: 2px fff;
    width: 30%;
}
.aaa{
    background-color: #ffff77;
    border: 2px fff;
    width: 30%;
}
@keyframes flashfc {
    /*0%   { background-color: #ffaaaa; } */
    /*20%  { background-color: #d5ff88; } */
    /*40%  { background-color: #88ffbb; } */
    /*60%  { background-color: #88bbff; } */
    /*80%  { background-color: #d588ff; } */
    /*100% { background-color: #ffaaaa; } */
    0%   { background-color: #ff2828; }
    20%  { background-color: #d5ff28; }
    40%  { background-color: #28ff7e; }
    60%  { background-color: #2872ff; }
    80%  { background-color: #d528ff; }
    100% { background-color: #ff2828; }
}
@keyframes flashexh {
    0%   { background-color: #ff2828; }
    50%  { background-color: #ffff28; }
    100% { background-color: #ff2828; }
    /*0%   { background-color: #ffaaaa; }*/
    /*50%  { background-color: #ffff77; }*/
    /*100% { background-color: #ffaaaa; }*/
}
@keyframes flashfailed {
    0%   { background-color: #ff2828; }
    50%  { background-color: #282828; }
    100% { background-color: #ff2828; }
}
